<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <form id="search" action="/todoList" method="post">
      <button type="submit">ToDo Item submit</button>
      <input type="text" name="itemInput" value="">
    </form>
    {{#error}}
      <h4>{{.}}</h4>
    {{/error}}
    <form action="index.html" method="post">
      <ul id="tasks">
        <li>
          <button type="button" name="test">Completed</button>
          <p>Test tasks to be competed and moved</p>
        </li>
        <li>
          <button type="button" name="test">Completed</button>
          <p>Test tasks to be competed and moved</p>
        </li>
        <li>
          <button type="button" name="test">Completed</button>
          <p>Test tasks to be competed and moved</p>
        </li>
        {{#todoList}}
          <li>
            <button type="button" name="complete">Completed</button>
            {{item}}
          </li>
        {{/todoList}}
      </ul>
      <ul>
        <!-- ToDo list with all completed items -->
        <!-- store completed todo's in another array and display here ^^^^^-->
      </ul>
  </form>
  </body>
</html>
