<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/normalize.css">
  </head>
  <body>
    <form id="search" action="/" method="post">
      <button type="submit">ToDo Item Submit</button>
      <input type="text" name="itemInput" >
    </form>
    {{#error}}
      <h4>{{.}}</h4>
    {{/error}}
      <h3>Incomplete</h3>
      <ul id="tasks">
        {{#todos}}
          {{^complete}}
            <li>
              <form action="/{{id}}/done" method="post"><button type="submit">Complete</button></form>
              <form action="/{{id}}/delete" method="post"><button type="submit">Delete</button></form>
              {{description}}
            </li>
          {{/complete}}
        {{/todos}}
      </ul>
      <h3>Complete</h3>
      <ul id="completed">
        {{#todos}}
          {{#complete}}
            <li>
              <form action="/{{id}}/redo" method="post"><button type="submit">Redo</button></form>
              <form action="/{{id}}/delete" method="post"><button type="submit">Delete</button></form>
              {{description}}
            </li>
          {{/complete}}
        {{/todos}}
      </ul>
  </body>
</html>
